//global
//section main heading
$--sec-main-heading-C: #0e0e0f;
//body
$--body-bgC: #fbfbfb;
//header
$--header-bgC: black;
$--upper-header-C: #fbfbfb;
$--header-pad: 160px;
//hamburger menu
$--hamburger-menu-cont-bgC: rgb(255, 255, 255);
$--hamburger-menu-item-C: #fbfbfb;
$--hamburger-menu-item-hover-C: #F28500;
$--hamburger-button-dash-C: #fbfbfb;
$--hamburger-child-menu-item-C: #fbfbfb;
$--hamburger-child-menu-wrapper-bgC: rgba(0, 0, 0, 0.5);
$--nav-item-border: #F28500;

//slogan section
$--slogan-heading-C: #fbfbfb;
$--slogan-article-C: #fbfbfb;
$--slogan-sec-bgC: #0e0e0f;
$--slogan-btn-border-C: #29335c;
//service quality section
$--service-quality-main-heading-C: #F28345;
$--service-quality-group-heading-bgC: #0e0e0f;
$--service-quality-group-heading-C: #ffffff;
$--service-quality-group-article-C: #0e0e0f;
//faq section
$--faq-sec-main-heading-C: #F28345;
$--faq-sec-bgC: #0e0e0f;
$--faq-group-header-C: #F28345;
$--faq-answer-C: #ffffff;
$--svg-button-border-C: #F28345;
$--faq-svg-plus-btn-C: #F28345;
$--faq-group-border-bottom-C: #ffffff;
//pricing section
$--pricing-type-C: #FFD60A;
$--pricing-group-bgC: #29335c;
//our-team-slogan section
$--our-team-slogan-h2-C: #ffffff;
//footer
$--footer-sec-bgC: #000000;

