<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--<meta http-equiv="refresh" content="10">-->
    <link rel="stylesheet" href="../../library/devtz007/css/reset.css" />
    <link
      rel="stylesheet"
      href="../../library/devtz007/sass/random_library.css"
    />
    <link
      rel="stylesheet"
      href="../../library/devtz007/sass/reusable_sass.css"
    />

    <link rel="stylesheet" href="../../style.css" />
    <link rel="stylesheet" href="./contact_us_style.css" />
    <title>Rosebytes</title>
    <link rel="icon" type="image/x-icon" href="/assets/images/header/favicon.ico">
  </head>

  <body>
    <header class="myHeader">
      <div class="width-wrapper">
        <div class="hamburger-menu-cont">
          <a href="/" class="logo"> 
            <img src="/assets/images/header/COLOR WHITE.svg" alt="">
          </a>
          <div class="hamburger-button">
            <!--Checkbox for hamburger menu-->
            <input
              id="nav-toggler"
              type="checkbox"
              class="toggler nav-toggler"
              onchange="navTogglerF()"
            />
            <!--Makes Hamburger menu with a div and before , after pseudo element-->
            <div class="hamburger">
              <div class="dash"></div>
            </div>
          </div>
        <div class="hamburger-menu-wrap">
          <div class="menu">
            <div>
              <ul class="nav-item-cont">
                <li class="nav-item">
                  <div href="/" class="parent-menu-cont">
                    <div class="parent-menu-item">Home</div>
                  </div>
                </li>
                <li class="nav-item">
                  <!-- <div class="parent-menu-cont">
                    <div class="parent-menu-item">Our Work</div>
                  </div> -->

                  <div class="child-menu-cont">
                    <div class="child-menu-item-wrapper">
                      <a
                        href="./pages/packages_page/florida_page/florida_page.html"
                        class="child-menu-item"
                      >
                        <span>Web dev</span>
                      </a>
                      <a
                        href="./pages/packages_page/midwest_page/midwest_page.html"
                        class="child-menu-item"
                      >
                        <span>Android dev</span>
                      </a>
                      <a
                        href="./pages/packages_page/west_coast_page/west_coast_page.html"
                        class="child-menu-item"
                      >
                        <span> DevOps </span>
                      </a>
                      <a
                        href="./pages/packages_page/cruise_international_page/cruise_international.html"
                        class="child-menu-item"
                      >
                        <span>Security</span>
                      </a>
                      <a
                        href="./pages/packages_page/all_inclusive_page/all_inclusive.html"
                        class="child-menu-item"
                      >
                        <span>Graphic design</span>
                      </a>
                      <a
                        href="./pages/packages_page/mini_vacation_page/mini_vacation.html"
                        class="child-menu-item"
                      >
                        <span>Game dev</span>
                      </a>
                    </div>
                  </div>
                </li>

                <li class="nav-item">
                  <div
                    href="/pages/contact_us_page/"
                    class="parent-menu-cont"
                  >
                    <div class="parent-menu-item">Pricing</div>
                  </div>
                </li>
                <li class="nav-item">
                  <div
                    href="./pages/contact_us_page"
                    class="parent-menu-cont"
                  >
                    <div class="parent-menu-item">Contact Us</div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </header>

    <main>
      <section class="sec1">
        <div class="width-wrapper">
          
        </div>
      </section>
            <section class="sec2">
        <div class="width-wrapper">
          
        </div>
      </section>
            <section class="sec3">
        <div class="width-wrapper">
          
        </div>
      </section>
    </main>
    <footer>
      <div class="width-wrapper">
        <p>2023 Rosebytes, LLC | info@rosebytes.com</p>
      </div>
    </footer>
    <script src="../../scripts.js"></script>
  </body>
</html>
